<nav class="navbar navbar-light navbar-inverse bg-inverse">
    <h1 class="navbar-brand mb-0">Ejemplo WebSocket - Ismael Zori 2017</h1>
</nav>

<div class="row mt-3">
    <div class="col-md-4 mx-auto">
        <div class="container">
            <div class="form-group">

                <div class="input-group">
                    <input type="text" class="form-control" name="mensajeAEnviar" #mensajeAEnviar placeholder="Mensaje a enviar" (keyup.enter)="enviarMensaje(mensajeAEnviar.value)" autofocus>
                    <button type="button" class="btn btn-outline-danger input-group-addon" (click)="mensajeAEnviar.value = ''">Limpiar</button>
                </div>
            </div>
            <div class="form-group">
                <button class="form-control" type="button" name="" id="" class="btn btn-outline-primary btn-block" (click)="enviarMensaje(mensajeAEnviar.value)">Enviar Mensaje</button>
            </div>

            <div *ngIf="solicitud">
                <hr>
                <h3>Enviado al servidor</h3>
                {{solicitud | json}}
            </div>

            <div *ngIf="respuesta">
                <hr>
                <h3>Respuesta del servidor <small>({{ _ms.URL }})</small></h3>
                {{respuesta | json}}
            </div>
        </div>
    </div>
</div>